.signup-image-link:hover{
    color:blue;
}
figure{
    position: relative;
    top:10px;
}

.head-span{
    text-align: center;
}

.lll{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidayah{
    margin-left: 10px;
    margin-top:25px;
    text-align: center;
}
.main{
    margin-top: 0px;
    padding-top:50px;
}
.error{
    color:red;
}

.reg{
    color: darkred;
    font-size: 3rem;
    font-weight: bold;
}
