body {
  font-family: -apple-system,BlinkMacSystemFont,"Montserrat","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  margin: 0;
  background: rgb(87, 72, 99);
}
.about-section {
  padding: 20px;
  text-align: center;
  background-color: #24192E;
  color: white;
}
.Cblur{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.row{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 39%;
}
.column{
  width: 42%;
  margin: 20px 5px;

}
.card {
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.5);
  margin: 8px;
  background: #E8E8E8;
  border-radius: 15px;
  padding: 14px 0px;
  filter: grayscale(100%);
  transform: scale(1,1);
  transition-property: filter, transform,box-shadow;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.card:hover{
  box-shadow: 5px 6px 10px 4px rgba(0, 0, 0, 0.5);
    filter: grayscale(0%);
    transform: scale(1.03,1.03);
  }
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clip-path: circle(60% at 50% 50%);
    border: 5px solid #ddd;
    padding: 5px 5px 0px 5px;

  }
.container{
  text-align: center;
   padding: 0px 0px 0px 0px;
}

.title {
  color: dodgerblue;
    text-shadow: 3px 3px 5px #000000;
}

.special{
    padding-bottom: 6px;
  }
.container>h2{
    color: #11061A;
  }
.title+p{
    color: rgba(87, 72, 99,1);

  }

.row:hover .column{
  filter: blur(10px);
  transform: scale(0.96);
  opacity: 0.5;
}
.row .column:hover{
  filter: blur(0px);
  transform: scale(1.03);
  opacity: 1;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #9F4CC6;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5F058A;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4A036C;
}
.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
.end{
  padding: 10px 0px;
  color: white;
  background-color: #24192E;
}
